-# = link_to 'Google Search', 'https://www.google.co.jp'
= link_to '定款', 'https://www.dropbox.com/s/7vviwrqyc7ur9h3/20200721%E3%82%A2%E3%83%A9%E3%83%A4%E3%82%B7%E3%82%AD%E9%9B%BB%E5%AD%90%E5%AE%9A%E6%AC%BE%E7%A2%BA%E8%AA%8D%E7%94%A8.pdf?dl=0'
  


-# %a{href:"https://www.dropbox.com/s/7vviwrqyc7ur9h3/20200721%E3%82%A2%E3%83%A9%E3%83%A4%E3%82%B7%E3%82%AD%E9%9B%BB%E5%AD%90%E5%AE%9A%E6%AC%BE%E7%A2%BA%E8%AA%8D%E7%94%A8.pdf?dl=0"} 定款
