.header{
  background-color: rgb(165, 46, 46);
  line-height: 65px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 60px;
  font-size: 20px;
  height: 65px;
  
  .h1 {
    text-decoration: none;
    color: #fff;
    overflow: hidden;
    .top-logo{
      height: 40px;
      padding-bottom: 8px;
      vertical-align: middle;
    }
  }
  a {
      text-decoration: none;
      color: #fff;
  }
  .header-links{
    overflow:hidden;
    list-style: none;
    display: flex; 
    justify-self: end;
    
    .header-link{
      margin-left: 30px;
    }
  }

}
    i{
    color:rgb(126, 34, 34);
    font-size: 23px;
    position: absolute;
    left: 1px;
    top: 1px;
  }