.header{
  background-color: #F50049;
  line-height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 60px;
  font-size: 20px;
  height: 80px;
  white-space: nowrap;
  font-weight: bold;
  a {
    text-decoration: none;
    color: #fff;
  }
  .h1__title {
    text-decoration: none;
    color: #fff;
    // overflow: hidden;
    :hover {
      color: #80C2AD;
    }
    .top-logo{
      height: 40px;
      padding-bottom: 8px;
      vertical-align: middle;
    }
  }

  .header-links{
    // overflow: hidden;
    overflow: scroll;
    list-style: none;
    display: flex; 
    justify-self: end;
    font-weight: bold;
    :hover {
      color: #80C2AD;
    }
    .header-link{
      margin-left: 30px;
    }
  }
  .mypage{
    // overflow: hidden;
    overflow: scroll;
    color: #00485E;
    font-weight: bold;
    .nickname{
      padding-left: 15px;
    }
    .sign{
      padding-left: 15px;
    }
    :hover {
      color: #80C2AD;
    }
  }
}
.adm {
  color:#00485E;
  font-size: 10px;
  position: absolute;
  right: 5px;
  top: 2px;
  display: flex;
  text-decoration: none;
}