.header{
  background-color: #F50049;
  line-height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 60px;
  font-size: 20px;
  height: 80px;
  white-space: nowrap;
  .h1__title {
    text-decoration: none;
    color: #fff;
    // overflow: hidden;
    :hover {
      color: #80C2AD;
    }
    .top-logo{
      height: 40px;
      padding-bottom: 8px;
      vertical-align: middle;
    }
  }
  a {
    text-decoration: none;
    color: #fff;
  }
  .header-links{
    // overflow: hidden;
    overflow: scroll;
    list-style: none;
    display: flex; 
    justify-self: end;
    :hover {
      color: #80C2AD;
    }
    .header-link{
      margin-left: 30px;
    }
  }
  .mypage{
    // overflow: hidden;
    overflow: scroll;
    .sign{
      padding-left: 10px;
    }
    :hover {
      color: #80C2AD;
    }
  }
}
.neko {
  color:#00485E;
  font-size: 21px;
  position: absolute;
  right: 5px;
  top: 2px;
  display: flex;
  text-decoration: none;
  .adm{
    font-size: 10px;
  }
}