


  <main>
    <div class="news">

      <h2>お知らせ</h2>
      <table>
        <tr>
          <td>2020/11/22</td>
          <td>ドラゴン映画祭 共催<a href="#" class="news-link">こちら</a></td>
        </tr> 
        <tr>
          <td>2020/00/00</td>
          <td>テキスト</td>
        </tr>
         <tr>
          <td><span class="mgr10">2020/07/00</span></td>
          <td>一般社団法人アラヤシキ 設立</td>
        </tr>
        
      </table>
      <ul class="top-banner">
        <li><img src="IMG_5919.JPG" alt="top1" class="top-image"></li>
        <li><img src="IMG_8243.JPG" alt="top2" class="top-image"></li>
        <li><img src="IMG_0075.JPG" alt="top3" class="top-image"></li> 
      </ul>
 
    </div>
  </main>


</body>
</html>