.body
  .main 
    .main_news
      %h2 お知らせ
      .main_news_top
        %table
          %tbody
            %tr
              %td.time 2020/11/22
              %td.text 
                [イベント] 
                %a{href:"#",} ドラゴン映画祭
                協力(予定)
            %tr
              %td.time 2020/00/00
              %td.text [テキスト] テキスト
            %tr
              %td.time 2020/07/30-31
              %td.text  
                [イベント] 
                %a{href:"https://www.facebook.com/events/1138912663159351"} あらやしき 1971
                ＠earth 主催
            %tr
              %td.time 2020/08/00
              %td.text  [お知らせ] 一般社団法人アラヤシキ 設立
            %tr
              %td.time 2020/08/00
              %td.text  一般社団法人アラヤシキ 設立
      %ul.top_pic
        %li
        = image_tag 'IMG_5919.JPG', alt:'top1', class:'top-image'
        %li
        = image_tag 'IMG_8243.JPG', alt:'top2', class:'top-image'
        %li
        = image_tag 'IMG_0075.JPG', alt:'top2', class:'top-image'
