.wrapper
  = render "hp_top/header.haml"
  .body
    .about 
      %h2 一般社団法人アラヤシキについて 
      %br 目的
      %br 当法人は、芸術・文化の振興、普及及び発展に寄与すること、並びに地 域の振興を目的とし、その目的に資するために、次の事業を行う。
      %br (1) 文化及び芸術の振興を目的とする事業
      %br (2) 文化及び芸術の活動(事業)を行う個人(団体)への支援を目的とする 事業
      %br (3) 文化及び芸術に関連する施設の管理運営を目的とする事業
      %br (4) 地域の振興を目的とする事業
      %br (5) 地域の活動(事業)を行う個人(団体)への支援を目的とする事業
      %br (6) 地域の振興に関連する施設の管理運営を目的とする事業
      %br (7) 前各号に附帯又は関連する一切の事業
      %br 
      設立時理事  小手川 望
      %br 
      設立時理事  森本 洋史
      %br 設立時代表理事  寺川 大地
      %br
      = link_to koukoku_index_path do
        定款
      公開情報 2020年7月21日現在 
  = render "hp_top/footer.haml"

