.wrapper
  = render "hp_top/header.haml"
  .body
    .main 
      .main_news
        .contact
          %h1.contact-title お問い合わせ
          %br/
          %br/
          %br/
          %p.contact-text
            ●お電話でのお問い合わせ
            %br/
            受付時間：13:00〜19:00
            %br/
            電話番号：090-0000-0000
            %br/
            %br/
            %br/
            ●所在地
            %br/
            〒557-0002 大阪府大阪市西成区太子１丁目３−２６
            %br/

          %iframe{src: "https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3282.2433092732326!2d135.50211271516176!3d34.648557780447895!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6000dd8af6b0af5b%3A0x628085f258385071!2z44CSNTU3LTAwMDIg5aSn6Ziq5bqc5aSn6Ziq5biC6KW_5oiQ5Yy65aSq5a2Q77yR5LiB55uu77yT4oiS77yS77yW!5e0!3m2!1sja!2sjp!4v1594787560586!5m2!1sja!2sjp", style: "border:0;", tabindex: "0",allowfullscreen: "", aria: {hidden: :false}, frameborder: "0", height: "400", width: "500"}

  = render "hp_top/footer.haml"

