/* ヘッダー */

header {
  background-color: rgb(165, 46, 46);
  line-height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 60px;
  font-size: 20px;
  height: 80px;
}

h1 {
  text-decoration: none;
  color: #fff;
  overflow: hidden;

  
}

.top-logo{
  height: 40px;
  padding-bottom: 8px;
  vertical-align: middle;
}
a {
  text-decoration: none;
  color: #fff;
}

.header-links {
  overflow:hidden;
  list-style: none;
  display: flex;
}

.header-link {
  margin-left: 30px;
}
/* メイン */
body{
  max-width: 100%;
  max-height: 100%;
  /* overflow: hidden; */
}
main {
  margin: 0 auto;
  padding: 100px;
  max-width: 1500px;
  font-size: 20px;
  text-decoration: none;
  color:black;
  
}
.news{
  background-color: rgb(219, 232, 255);
  height: 570px;
  padding: 40px;
  position: relative;
}

table{
  background-color: #fff;
  width: 100%;
  height: 150px;
  margin: 0 10px;
  /* max-height: 200px;
  overflow:hidden; */
}
td{
  padding: 10px;
  
}
h2 {
  margin: 20px auto;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
}
.mgr10{
  margin-right: 10px;
}
.news-link{
  text-decoration: underline;
  color: #000;
}


.top-banner{
	display: flex;
  flex-wrap:wrap;
  position:absolute;
    left:0;
    right:0;
    bottom:0;
    margin:auto;
    padding: 40px;
}

.top-banner li {
	width: calc(100%/3);/*←画像を横に4つ並べる場合*/
	padding:0 10px;/*←画像の左右に5pxの余白を入れる場合*/
  box-sizing:border-box;
  /* vertical-align: bottom; */

}

.top-image{
  max-width:100%; /*画像のはみだしを防ぐ*/
  height: 310px; /*画像の縦横比を維持 */
  border:solid 1px #ccc; /*←画像を1pxのグレーの枠線で囲む指定の場合*/
  filter: opacity(50%);
  background-size: cover;
  background-position: center;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

/* about */
.about-img{
  min-width: 100%;
  height: 230px;
  overflow: hidden;
}
.about-li{
  display: flex;
  width: calc(100%/4);
  /* width: 1440px; */
  /* flex-wrap: nowrap; */
  /* flex-direction: row; */
}
/* フッター */
footer {
  line-height: 80px;
  text-align: center;
  background-color: gray;
  color: #fff;
}

/* お問い合わせ */
.contact{
  background-color: rgb(219, 232, 255);
  padding: 40px;
}
.contact-title{
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  color: rgb(75, 75, 75);
}
.contact-text{

}
iframe{
  display: flex;
  margin-top: 10px;
  width: 100% ;
  height: 100% ;
}